@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: -1;
    font-family: 'Roboto';
}

/** { 
    outline: 1px solid red;
    outline-offset: -1px;
  }*/


header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    background-color: rgba(245, 185, 116, 0);
    top:0;
    margin: 0;
    padding: 0;
}
.tle{
    width: 50%;
    height: 10rem;
    padding: .5em;
    margin: .5rem;
    background-color: rgba(0, 0, 255, 0);  
    background: url("../images/espaldabyn.gif");
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
}

.mas{
    justify-self: center;
    width: 100%;
    margin-left: 0%;
    text-align: center;
}

.b-mas{
    justify-self: center;
    align-items: center;
    left:40%;
    margin-top: 10%;
    position: relative;
    display:block;
    background-color: rgba(226, 190, 190, 0);
    color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(173, 230, 39, 0);
    border-style: none;
    font-size: 3em;
}

.bm-cto{
    justify-content: center;
    text-align: center;
    display: none;
    color: aliceblue;
}


.mas a:hover {
    opacity: .8;
      display: block;
      width: 100%;
      text-align: center;
}

.mas:hover .bm-cto{
    width: max-content;
      width: 100%;
      text-align: center;
      display: block;
}


.mas:hover .b-mas{
    display: none;
}


.tle2{
    width: 50%;
    height: 10rem;
    padding: .5em;
    margin: .5rem;
    background-color: rgba(227, 227, 238, 0.534);  
    font-size: 1.5em;
    font-family: Roboto;
text-align: center;
flex-direction: row;
position: relative;
}

.art {
    display:block;
    column-gap: 2em;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 8px 16px 0px rgba(173, 230, 39, 0.678);
    border-style: none;
    position: fixed;
    font-size: .8em;
}
.inst {
    width: 1em; 
    height: 1em;
}

.menu a {
    color: black;
    column-gap: 0;
    display: inline-grid;
    width: max-content;
    height: fit-content;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
  }

.menuart {
    display: none;
    position:fixed;
    margin-left: -23em;
    margin-top: 1.5%;
    column-gap: 2em;
    width: max-content;
    height: max-content;
    background-color: #E8E6E6;
    opacity: 0.7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

 

  .menu a:hover {
    background-color: #e0afaf77; opacity: .8;
    display: inline-grid;
    color: black;
    column-gap: 0;
    width: max-content;
    }

.menu:hover .menuart {
    display: inline-grid;
    width: max-content;
    grid-template-columns: auto auto auto;
    column-gap: 0;
    }

.menu a:hover .menuart {
    background-color:#e0afaf77;
    opacity: 0.8;
    display: grid;
    column-gap: 0;
}


#rc {
    grid-column: 1;}
#obrc {
    grid-column: 1;}
#hq {
    grid-column: 1;}  
#rr  {
    grid-column: 1;}
#jpc {
    grid-column: 2;}
#si {
    grid-column: 2;}
#jla {
    grid-column: 2;}
#lh {
    grid-column: 3;}
#an {
    grid-column: 3;}
#ob {
    grid-column: 3;}	


.mG{
    width: 100%;
    align-items: center;
    display: flex;
    font-family: Roboto;
    flex-direction: column;
}

.C1{
    width: 100%;
    height: 30rem;
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: rgba(165, 42, 42, 0);
    margin-top: 5%;
}
.mg1 {
    width: 100%; 
    height: 100%;
    grid-column: 1;
    margin-top: 3%;
    margin-left: 3%;
}
.mg2{
    width: 50%;
    height:max-content;
    text-align: center;
    grid-column: 2;
    justify-self: center;
    background-color: rgba(156, 120, 74, 0);
}
.C2{
    width: 100%;
    height: 30rem;
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: rgba(165, 42, 42, 0);
    margin-top: 5%;
}
.mg3{
    width: 50%;
    height: auto;
    text-align: center;
    grid-column: 1;
    justify-self: center;
    background-color: rgba(156, 120, 74, 0);
    
} 

.mg4 {
        width: 100%; 
        height: 100%;
        grid-column: 2;
        margin-top: 3%;
        margin-right: 3%;
}

@media (max-width: 775px) {

    .tle2{
        font-size: smaller;
    }

    .art {
        display:block;
        column-gap: 2em;
        text-align: center;
        color: black;
        background-color: rgba(240, 248, 255, 0);
        box-shadow: 0px 8px 16px 0px rgba(173, 230, 39, 0.678);
        border-style: none;
        position: fixed;
        font-size: .8em;
    }
    .menu a {
        color: black;
        column-gap: 0;
        display: grid;
        width: max-content;
        height: fit-content;
        padding: 12px 16px;
        text-decoration: none;
    
        font-family: 'IBM Plex Sans', sans-serif;
      }
      .menuart {
        display: none;
        position:fixed;
        margin-left: -10em;
        margin-top: 0.3em;
        background-color: #E8E6E6;
        opacity: 0.7;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(245, 9, 9, 0);
        z-index: 1;
    }
    
      .menu a:hover {
          background-color: #e0afaf77; opacity: .8;
          display: grid;
          grid-template-columns: auto auto;
          width: max-content;
          }
    
    .menu:hover .menuart {
        display: grid;
        grid-template-columns: 
        auto auto;
        }
    
    .menua:hover .manueart {
        background-color:#e0afaf77;
        opacity: 0.8;
        display: grid;
        grid-template-columns: 
        auto auto;
    }

    #rc {
        grid-column: 1;}
    #obrc {
        grid-column: 1;}
    #hq {
        grid-column: 1;}  
    #rr  {
        grid-column: 1;}
    #jpc {
        grid-column: 1;}
    #si {
        grid-column: 2;}
    #jla {
        grid-column: 2;}
    #lh {
        grid-column: 2;}
    #an {
        grid-column: 2;}
    #ob {
        grid-column: 2;}	
}

@media (max-width: 700px) {

    header{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content:space-between;
        background-color: rgba(245, 185, 116, 0);
        top:0;
        margin: 0;
        padding: 0;}

        .tle{height: 6em;
            align-items: center;}
        .bm-cto{
            font-size: smaller;
            margin-top: -1em;
        }

        .tle2{height: 7em;}

    .inst {
        width: .5em; 
        height: .5em;
    }

    .art {
        display:block;
        column-gap: 2em;
        color: black;
        text-align: center;
        background-color: rgba(240, 248, 255, 0);
        box-shadow: 0px 8px 16px 0px rgba(173, 230, 39, 0.678);
        border-style: none;
        position: fixed;
        font-size: .8em;
    }
    .menu a {
        color: black;
        column-gap: 0;
        display: grid;
        width: max-content;
        height: fit-content;
        padding: 12px 16px;
        text-decoration: none;
        grid-template-rows: 
        auto
        auto
        auto;
        font-family: 'IBM Plex Sans', sans-serif;
      }
      .menuart {
        display: none;
        position:fixed;
        margin-left: -10em;
        margin-top: 0.3em;
        background-color: #E8E6E6;
        opacity: 0.7;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(245, 9, 9, 0);
        z-index: 1;
        column-gap: 0em;
    }
    
      .menu a:hover {
          background-color: #e0afaf77; opacity: .8;
          display: grid;
          grid-template-columns: auto auto;
          width: max-content;
          }
    
    .menu:hover .menuart {
        display: grid;
        grid-template-columns: 
        auto auto;
        width: min-content;
        font-size: .6em;
        }
    
    .menua:hover .manueart {
        background-color:#e0afaf77;
        opacity: 0.8;
        display: grid;
        grid-template-columns: 
        auto auto;
    }

    #rc {
        grid-column: 1;}
    #obrc {
        grid-column: 1;}
    #hq {
        grid-column: 1;}  
    #rr  {
        grid-column: 1;}
    #jpc {
        grid-column: 1;}
    #si {
        grid-column: 2;}
    #jla {
        grid-column: 2;}
    #lh {
        grid-column: 2;}
    #an {
        grid-column: 2;}
    #ob {
        grid-column: 2;}	
}


@media (max-width: 400px) {
    .tle{
        height: 6em;
        align-items: center;
    }
        
    .menuart {
        row-gap: -3em;
    }

    .bm-cto{
        font-size: .6em;
        margin-top: 1em;
    }

    .art {
        color: black;
        background-color: #ffffff00;
    }
    }        

